In [9]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [2]:
filenames = []
for file in os.listdir('data'):
    if file.endswith('.yaml'):
        filenames.append(os.path.join('data',file))

In [3]:
filenames[0:5]

['data/1173055.yaml',
 'data/951375.yaml',
 'data/1188621.yaml',
 'data/540173.yaml',
 'data/1034829.yaml']

In [4]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = pd.concat([final_df,df])
        counter+=1
        
final_df

  0%|          | 0/1432 [00:00<?, ?it/s]

100%|██████████| 1432/1432 [01:35<00:00, 14.92it/s]

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.outcome.winner,...,match_id,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2020-03-01,1,Canberra,[2020-02-26],female,T20,853.0,Pakistan,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2016-03-17,2,Bangalore,[2016-03-15],female,T20,NaN,India,...,2,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2019-08-06,1,Lauderhill,[2019-08-03],male,T20,842.0,India,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2012-04-16,2,St Lucia,[2012-03-27],male,T20,NaN,Australia,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2017-02-13,1,Bangalore,[2017-02-01],male,T20,NaN,India,...,5,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",0.9,2019-09-30,1,Chattogram,[2019-09-20],male,T20,890.0,Zimbabwe,...,1428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Namibia', 'deliveri...",0.9,2019-09-07,1,Arbroath,[2019-09-03],female,T20,742.0,Netherlands,...,1429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Canada', 'deliverie...",0.9,2019-08-26,1,Hamilton,[2019-08-25],male,T20,865.0,Canada,...,1430,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2020-12-18,1,Auckland,[2020-12-18],male,T20,1117.0,New Zealand,...,1431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2020-06-30,1,Kuala Lumpur,[2018-06-06],female,T20,422.0,Pakistan,...,1432,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
backup = final_df.copy()

In [6]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [7]:
final_df['info.gender'].value_counts()

info.gender
male      966
female    466
Name: count, dtype: int64

In [10]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df.drop(columns=['info.gender'],inplace=True)
final_df

KeyError: 'info.gender'

In [11]:
final_df['info.match_type'].value_counts()

info.match_type
T20    966
Name: count, dtype: int64

In [12]:
final_df['info.overs'].value_counts()

info.overs
20    963
50      3
Name: count, dtype: int64

In [13]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'West Indies', 'deli...",Lauderhill,[2019-08-03],India,[NA Saini],"[India, West Indies]",field,India,"[N Duguid, GO Brathwaite]",Central Broward Regional Park Stadium Turf Ground,3
0,"[{'1st innings': {'team': 'West Indies', 'deli...",St Lucia,[2012-03-27],Australia,[SR Watson],"[West Indies, Australia]",bat,West Indies,"[GO Brathwaite, PJ Nero]","Beausejour Stadium, Gros Islet",4
0,"[{'1st innings': {'team': 'India', 'deliveries...",Bangalore,[2017-02-01],India,[YS Chahal],"[India, England]",field,England,"[AK Chaudhary, Nitin Menon]",M Chinnaswamy Stadium,5
0,"[{'1st innings': {'team': 'England', 'deliveri...",Nottingham,[2009-06-11],South Africa,[JH Kallis],"[England, South Africa]",bat,England,"[SJ Davis, AL Hill]",Trent Bridge,6
0,"[{'1st innings': {'team': 'South Africa', 'del...",Cape Town,[2020-12-01],England,[DJ Malan],"[South Africa, England]",bat,South Africa,"[A Paleker, BP Jele]",Newlands,7
...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Abu Dhabi,[2017-01-16],Oman,[Bilal Khan],"[Hong Kong, Oman]",field,Oman,"[Iftikhar Ali, AJ Neill]",Sheikh Zayed Stadium,1424
0,"[{'1st innings': {'team': 'Maldives', 'deliver...",Kuala Lumpur,[2019-06-29],Thailand,[N Pathan],"[Maldives, Thailand]",field,Thailand,"[N Sivan, V Kalidas]",Kinrara Academy Oval,1425
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Chattogram,[2019-09-20],Zimbabwe,[CB Mpofu],"[Afghanistan, Zimbabwe]",bat,Afghanistan,"[Sharfuddoula, Tanvir Ahmed]",Zahur Ahmed Chowdhury Stadium,1428
0,"[{'1st innings': {'team': 'Canada', 'deliverie...",Hamilton,[2019-08-25],Canada,[Ravinderpal Singh],"[Canada, United States of America]",field,United States of America,"[JM Williams, Emmerson Carrington]","White Hill Field, Sandys Parish",1430
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Auckland,[2020-12-18],New Zealand,[JA Duffy],"[Pakistan, New Zealand]",bat,Pakistan,"[SB Haig, WR Knights]",Eden Park,1431

In [14]:
import pickle
pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [15]:
matches = pickle.load(open('dataset_level1.pkl','rb'))

In [16]:
#matches = pickle.load(open('dataset_level1.pkl','rb'))
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'non_striker': 'E Lewis',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'JD Campbell'}},
 {0.2: {'non_striker': 'E Lewis',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'JD Campbell',
   'wicket': {'player_out': 'JD Campbell',
    'fielders': ['KH Pandya'],
    'kind': 'caught'}}},
 {0.3: {'non_striker': 'E Lewis',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {0.4: {'non_striker': 'E Lewis',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'N Pooran'}},
 {0.5: {'non_striker': 'N Pooran',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'E Lewis'}},
 {0.6: {'non_striker': 'N Pooran',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 5, 'total': 5, 'batsman': 0},
   'extras': {'wides': 5},
   'batsman': 'E Lewis'}},
 {0.7: {'non_striker': 'N Pooran',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'E Lewis'}},
 {1.1: {'non_striker': 'E Lewis',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {1.2: {'non_striker': 'E Lewis',
   'bowler': 'B Kumar',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'wides': 1},
   'batsman': 'N Pooran'}},
 {1.3: {'non_striker': 'E Lewis',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {1.4: {'non_striker': 'E Lewis',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {1.5: {'non_striker': 'E Lewis',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'N Pooran'}},
 {1.6: {'non_striker': 'N Pooran',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'E Lewis'}},
 {1.7: {'non_striker': 'N Pooran',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'E Lewis',
   'wicket': {'player_out': 'E Lewis', 'kind': 'bowled'}}},
 {2.1: {'non_striker': 'KA Pollard',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'N Pooran'}},
 {2.2: {'non_striker': 'KA Pollard',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'N Pooran'}},
 {2.3: {'non_striker': 'KA Pollard',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {2.4: {'non_striker': 'KA Pollard',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {2.5: {'non_striker': 'KA Pollard',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {2.6: {'non_striker': 'KA Pollard',
   'bowler': 'Washington Sundar',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'N Pooran'}},
 {3.1: {'non_striker': 'N Pooran',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {3.2: {'non_striker': 'N Pooran',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'KA Pollard'}},
 {3.3: {'non_striker': 'N Pooran',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {3.4: {'non_striker': 'N Pooran',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {3.5: {'non_striker': 'N Pooran',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {3.6: {'non_striker': 'N Pooran',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {4.1: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {4.2: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'N Pooran'}},
 {4.3: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran'}},
 {4.4: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'N Pooran',
   'wicket': {'player_out': 'N Pooran',
    'fielders': ['RR Pant'],
    'kind': 'caught'}}},
 {4.5: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'SO Hetmyer',
   'wicket': {'player_out': 'SO Hetmyer', 'kind': 'bowled'}}},
 {4.6: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'R Powell'}},
 {5.1: {'non_striker': 'R Powell',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {5.2: {'non_striker': 'R Powell',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {5.3: {'non_striker': 'KA Pollard',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'R Powell'}},
 {5.4: {'non_striker': 'KA Pollard',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'R Powell'}},
 {5.5: {'non_striker': 'KA Pollard',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'R Powell'}},
 {5.6: {'non_striker': 'KA Pollard',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'R Powell',
   'wicket': {'player_out': 'R Powell',
    'fielders': ['RR Pant'],
    'kind': 'caught'}}},
 {6.1: {'non_striker': 'CR Brathwaite',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {6.2: {'non_striker': 'CR Brathwaite',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {6.3: {'non_striker': 'CR Brathwaite',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {6.4: {'non_striker': 'CR Brathwaite',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {6.5: {'non_striker': 'CR Brathwaite',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {6.6: {'non_striker': 'CR Brathwaite',
   'bowler': 'NA Saini',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'wides': 1},
   'batsman': 'KA Pollard'}},
 {6.7: {'non_striker': 'CR Brathwaite',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {7.1: {'non_striker': 'KA Pollard',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {7.2: {'non_striker': 'KA Pollard',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'CR Brathwaite'}},
 {7.3: {'non_striker': 'CR Brathwaite',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {7.4: {'non_striker': 'KA Pollard',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'CR Brathwaite'}},
 {7.5: {'non_striker': 'CR Brathwaite',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {7.6: {'non_striker': 'CR Brathwaite',
   'bowler': 'KK Ahmed',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {8.1: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {8.2: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {8.3: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {8.4: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'CR Brathwaite'}},
 {8.5: {'non_striker': 'CR Brathwaite',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'KA Pollard'}},
 {8.6: {'non_striker': 'CR Brathwaite',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {9.1: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {9.2: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {9.3: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {9.4: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {9.5: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {9.6: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'CR Brathwaite'}},
 {10.1: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {10.2: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {10.3: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {10.4: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {10.5: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {10.6: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {11.1: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {11.2: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'CR Brathwaite'}},
 {11.3: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {11.4: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'KA Pollard'}},
 {11.5: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {11.6: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {12.1: {'non_striker': 'CR Brathwaite',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {12.2: {'non_striker': 'CR Brathwaite',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {12.3: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'CR Brathwaite'}},
 {12.4: {'non_striker': 'CR Brathwaite',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {12.5: {'non_striker': 'CR Brathwaite',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'KA Pollard'}},
 {12.6: {'non_striker': 'CR Brathwaite',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {13.1: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {13.2: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {13.3: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {13.4: {'non_striker': 'CR Brathwaite',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {13.5: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite'}},
 {13.6: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'CR Brathwaite'}},
 {14.1: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'CR Brathwaite'}},
 {14.2: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'CR Brathwaite',
   'wicket': {'player_out': 'CR Brathwaite', 'kind': 'caught and bowled'}}},
 {14.3: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'SP Narine'}},
 {14.4: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'SP Narine'}},
 {14.5: {'non_striker': 'SP Narine',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {14.6: {'non_striker': 'KA Pollard',
   'bowler': 'KH Pandya',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'SP Narine'}},
 {15.1: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'SP Narine',
   'wicket': {'player_out': 'SP Narine',
    'fielders': ['KK Ahmed'],
    'kind': 'caught'}}},
 {15.2: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KMA Paul'}},
 {15.3: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KMA Paul'}},
 {15.4: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KMA Paul'}},
 {15.5: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KMA Paul'}},
 {15.6: {'non_striker': 'KA Pollard',
   'bowler': 'RA Jadeja',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KMA Paul'}},
 {16.1: {'non_striker': 'KMA Paul',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {16.2: {'non_striker': 'KA Pollard',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KMA Paul'}},
 {16.3: {'non_striker': 'KMA Paul',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {16.4: {'non_striker': 'KMA Paul',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'KA Pollard'}},
 {16.5: {'non_striker': 'KMA Paul',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'KA Pollard'}},
 {16.6: {'non_striker': 'KMA Paul',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {17.1: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KMA Paul'}},
 {17.2: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KMA Paul'}},
 {17.3: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KMA Paul'}},
 {17.4: {'non_striker': 'KMA Paul',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'KA Pollard'}},
 {17.5: {'non_striker': 'KMA Paul',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {17.6: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'wides': 1},
   'batsman': 'KMA Paul'}},
 {17.7: {'non_striker': 'KA Pollard',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KMA Paul'}},
 {18.1: {'non_striker': 'KA Pollard',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KMA Paul',
   'wicket': {'player_out': 'KMA Paul',
    'fielders': ['V Kohli'],
    'kind': 'caught'}}},
 {18.2: {'non_striker': 'SS Cottrell',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {18.3: {'non_striker': 'SS Cottrell',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {18.4: {'non_striker': 'SS Cottrell',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'KA Pollard'}},
 {18.5: {'non_striker': 'SS Cottrell',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'KA Pollard'}},
 {18.6: {'non_striker': 'KA Pollard',
   'bowler': 'B Kumar',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'SS Cottrell'}},
 {19.1: {'non_striker': 'SS Cottrell',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {19.2: {'non_striker': 'SS Cottrell',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard'}},
 {19.3: {'non_striker': 'SS Cottrell',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'KA Pollard',
   'wicket': {'player_out': 'KA Pollard', 'kind': 'lbw'}}},
 {19.4: {'non_striker': 'SS Cottrell',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'O Thomas'}},
 {19.5: {'non_striker': 'SS Cottrell',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'O Thomas'}},
 {19.6: {'non_striker': 'SS Cottrell',
   'bowler': 'NA Saini',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'O Thomas'}}]

In [17]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = pd.concat([delivery_df,loop_df])

In [18]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[India, West Indies]",West Indies,0.1,JD Campbell,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,2,"[India, West Indies]",West Indies,0.2,JD Campbell,Washington Sundar,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,"[India, West Indies]",West Indies,0.3,N Pooran,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,2,"[India, West Indies]",West Indies,0.4,N Pooran,Washington Sundar,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,2,"[India, West Indies]",West Indies,0.5,E Lewis,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
...,...,...,...,...,...,...,...,...,...,...
118,964,"[Pakistan, New Zealand]",Pakistan,19.2,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park
119,964,"[Pakistan, New Zealand]",Pakistan,19.3,Faheem Ashraf,BM Tickner,0,Faheem Ashraf,Auckland,Eden Park
120,964,"[Pakistan, New Zealand]",Pakistan,19.4,Shaheen Shah Afridi,BM Tickner,2,0,Auckland,Eden Park
121,964,"[Pakistan, New Zealand]",Pakistan,19.5,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park
122,964,"[Pakistan, New Zealand]",Pakistan,19.6,Haris Rauf,BM Tickner,1,0,Auckland,Eden Park

In [19]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [20]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [21]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[India, West Indies]",West Indies,0.1,JD Campbell,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
1,2,"[India, West Indies]",West Indies,0.2,JD Campbell,Washington Sundar,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
2,2,"[India, West Indies]",West Indies,0.3,N Pooran,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
3,2,"[India, West Indies]",West Indies,0.4,N Pooran,Washington Sundar,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
4,2,"[India, West Indies]",West Indies,0.5,E Lewis,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
...,...,...,...,...,...,...,...,...,...,...,...
118,964,"[Pakistan, New Zealand]",Pakistan,19.2,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park,New Zealand
119,964,"[Pakistan, New Zealand]",Pakistan,19.3,Faheem Ashraf,BM Tickner,0,Faheem Ashraf,Auckland,Eden Park,New Zealand
120,964,"[Pakistan, New Zealand]",Pakistan,19.4,Shaheen Shah Afridi,BM Tickner,2,0,Auckland,Eden Park,New Zealand
121,964,"[Pakistan, New Zealand]",Pakistan,19.5,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park,New Zealand
122,964,"[Pakistan, New Zealand]",Pakistan,19.6,Haris Rauf,BM Tickner,1,0,Auckland,Eden Park,New Zealand

In [22]:
delivery_df.drop(columns=['teams'],inplace=True)

In [23]:
delivery_df['batting_team'].unique()

array(['West Indies', 'India', 'England', 'South Africa', 'Netherlands',
       'New Zealand', 'Afghanistan', 'Pakistan', 'Kenya', 'Australia',
       'Malaysia', 'Ireland', 'Zimbabwe', 'Nigeria', 'Singapore', 'Nepal',
       'Bangladesh', 'Vanuatu', 'Hong Kong', 'United Arab Emirates',
       'Thailand', 'Canada', 'Sri Lanka', 'Papua New Guinea', 'Spain',
       'Scotland', 'Belgium', 'Oman', 'Kuwait', 'Jersey', 'Gibraltar',
       'Denmark', 'Cayman Islands', 'United States of America',
       'Philippines', 'Ghana', 'Guernsey', 'Namibia', 'Bermuda', 'Qatar',
       'Germany', 'Botswana', 'Italy', 'Romania', 'Norway', 'Isle of Man',
       'Uganda', 'Maldives', 'Bulgaria', 'Iran', 'Bhutan', 'Portugal'],
      dtype=object)

In [24]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [25]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [26]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,West Indies,0.1,JD Campbell,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
1,2,West Indies,0.2,JD Campbell,Washington Sundar,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
2,2,West Indies,0.3,N Pooran,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
3,2,West Indies,0.4,N Pooran,Washington Sundar,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
4,2,West Indies,0.5,E Lewis,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
...,...,...,...,...,...,...,...,...,...,...
118,964,Pakistan,19.2,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park,New Zealand
119,964,Pakistan,19.3,Faheem Ashraf,BM Tickner,0,Faheem Ashraf,Auckland,Eden Park,New Zealand
120,964,Pakistan,19.4,Shaheen Shah Afridi,BM Tickner,2,0,Auckland,Eden Park,New Zealand
121,964,Pakistan,19.5,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park,New Zealand
122,964,Pakistan,19.6,Haris Rauf,BM Tickner,1,0,Auckland,Eden Park,New Zealand

In [27]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [28]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,West Indies,India,0.1,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,2,West Indies,India,0.2,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,West Indies,India,0.3,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,2,West Indies,India,0.4,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,2,West Indies,India,0.5,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
...,...,...,...,...,...,...,...,...
118,964,Pakistan,New Zealand,19.2,1,0,Auckland,Eden Park
119,964,Pakistan,New Zealand,19.3,0,Faheem Ashraf,Auckland,Eden Park
120,964,Pakistan,New Zealand,19.4,2,0,Auckland,Eden Park
121,964,Pakistan,New Zealand,19.5,1,0,Auckland,Eden Park
122,964,Pakistan,New Zealand,19.6,1,0,Auckland,Eden Park

In [29]:
pickle.dump(output,open('dataset_level2.pkl','wb'))

In [30]:
output[output['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2966
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [31]:
x = np.where(output['city'].isnull(), output['venue'].str.split().apply(lambda x:x[0]), output['city'])

In [32]:
output['city'] = x

In [33]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [34]:
output.drop(columns=['venue'],inplace=True)

In [35]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,West Indies,India,0.1,0,0,Lauderhill
1,2,West Indies,India,0.2,0,JD Campbell,Lauderhill
2,2,West Indies,India,0.3,0,0,Lauderhill
3,2,West Indies,India,0.4,1,0,Lauderhill
4,2,West Indies,India,0.5,0,0,Lauderhill
...,...,...,...,...,...,...,...
118,964,Pakistan,New Zealand,19.2,1,0,Auckland
119,964,Pakistan,New Zealand,19.3,0,Faheem Ashraf,Auckland
120,964,Pakistan,New Zealand,19.4,2,0,Auckland
121,964,Pakistan,New Zealand,19.5,1,0,Auckland
122,964,Pakistan,New Zealand,19.6,1,0,Auckland

In [36]:
total_df = output.groupby('match_id').sum()['runs'].reset_index()
output = output.merge(total_df,on='match_id')

In [37]:
output

,match_id,batting_team,bowling_team,ball,runs_x,player_dismissed,city,runs_y
0,2,West Indies,India,0.1,0,0,Lauderhill,95
1,2,West Indies,India,0.2,0,JD Campbell,Lauderhill,95
2,2,West Indies,India,0.3,0,0,Lauderhill,95
3,2,West Indies,India,0.4,1,0,Lauderhill,95
4,2,West Indies,India,0.5,0,0,Lauderhill,95
...,...,...,...,...,...,...,...,...
64363,964,Pakistan,New Zealand,19.2,1,0,Auckland,153
64364,964,Pakistan,New Zealand,19.3,0,Faheem Ashraf,Auckland,153
64365,964,Pakistan,New Zealand,19.4,2,0,Auckland,153
64366,964,Pakistan,New Zealand,19.5,1,0,Auckland,153
64367,964,Pakistan,New Zealand,19.6,1,0,Auckland,153

In [38]:
output['current_score'] = output.groupby('match_id')['runs_x'].cumsum()

In [39]:
output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

In [40]:
output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')

In [41]:
output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

In [42]:
output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
output['player_dismissed'] = output['player_dismissed'].astype('int')
output['player_dismissed'] = output.groupby('match_id')['player_dismissed'].cumsum()
output['wickets_left'] = 10 - output['player_dismissed']

In [43]:
final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]

In [44]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y
0,2,West Indies,India,0,0,1,10,0.00,Lauderhill,95
1,2,West Indies,India,0,0,2,9,0.00,Lauderhill,95
2,2,West Indies,India,0,0,3,9,0.00,Lauderhill,95
3,2,West Indies,India,1,1,4,9,1.50,Lauderhill,95
4,2,West Indies,India,0,1,5,9,1.20,Lauderhill,95
...,...,...,...,...,...,...,...,...,...,...
64363,964,Pakistan,New Zealand,1,149,116,2,7.71,Auckland,153
64364,964,Pakistan,New Zealand,0,149,117,1,7.64,Auckland,153
64365,964,Pakistan,New Zealand,2,151,118,1,7.68,Auckland,153
64366,964,Pakistan,New Zealand,1,152,119,1,7.66,Auckland,153
64367,964,Pakistan,New Zealand,1,153,120,1,7.65,Auckland,153

In [45]:
final_df = final_df.sample(final_df.shape[0])

In [46]:
final_df['balls_left'] = 120 - final_df['balls_bowled']
final_df['balls_left'] = final_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [47]:
final_df['crr'] = round((final_df['current_score']*6)/final_df['balls_bowled'],2)

In [48]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y,balls_left
55547,848,Pakistan,New Zealand,1,59,39,9,9.08,Pallekele,177,81
47630,744,West Indies,Sri Lanka,0,102,77,6,7.95,Colombo,162,43
25730,404,India,England,1,67,51,9,7.88,Manchester,165,69
33422,523,India,New Zealand,0,40,25,8,9.60,Christchurch,162,95
62812,946,England,West Indies,1,92,65,8,8.49,London,161,55
...,...,...,...,...,...,...,...,...,...,...,...
3814,58,England,Pakistan,1,88,79,6,6.68,Bristol,144,41
60653,915,West Indies,India,0,205,96,7,12.81,Lauderhill,245,24
45121,711,South Africa,Australia,1,78,54,9,8.67,Sydney,145,66
33633,527,South Africa,West Indies,0,158,108,8,8.78,Durban,195,12
36162,564,Bangladesh,Sri Lanka,1,101,103,3,5.88,Chittagong,120,17

In [49]:
final_df.drop(columns=['balls_bowled'],inplace=True)

In [50]:
groups = final_df.groupby('match_id')

In [52]:
match_ids = final_df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs_x'].sum().values.tolist())

In [53]:
final_df['last_five'] = last_five

In [54]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
55547,848,Pakistan,New Zealand,1,59,9,9.08,Pallekele,177,81,NaN
47630,744,West Indies,Sri Lanka,0,102,6,7.95,Colombo,162,43,NaN
25730,404,India,England,1,67,9,7.88,Manchester,165,69,NaN
33422,523,India,New Zealand,0,40,8,9.60,Christchurch,162,95,NaN
62812,946,England,West Indies,1,92,8,8.49,London,161,55,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3814,58,England,Pakistan,1,88,6,6.68,Bristol,144,41,59.0
60653,915,West Indies,India,0,205,7,12.81,Lauderhill,245,24,61.0
45121,711,South Africa,Australia,1,78,9,8.67,Sydney,145,66,60.0
33633,527,South Africa,West Indies,0,158,8,8.78,Durban,195,12,NaN
36162,564,Bangladesh,Sri Lanka,1,101,3,5.88,Chittagong,120,17,NaN

In [55]:
final_df.dropna(inplace=True)

In [56]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
59991,907,West Indies,Pakistan,0,55,6,6.00,St Vincent,152,65,43.0
42742,671,Bangladesh,India,0,22,9,6.00,Colombo,139,98,42.0
1774,25,England,Australia,0,93,4,6.98,Melbourne,130,40,45.0
1149,16,Australia,India,1,66,9,9.00,Chandigarh,160,76,40.0
25347,399,Sri Lanka,India,1,45,8,9.31,Colombo,152,91,40.0
...,...,...,...,...,...,...,...,...,...,...,...
52631,810,West Indies,South Africa,0,95,4,5.64,Johannesburg,131,19,58.0
26764,417,West Indies,Australia,1,145,4,9.16,Barbados,160,25,59.0
3814,58,England,Pakistan,1,88,6,6.68,Bristol,144,41,59.0
60653,915,West Indies,India,0,205,7,12.81,Lauderhill,245,24,61.0
45121,711,South Africa,Australia,1,78,9,8.67,Sydney,145,66,60.0

In [57]:
eligible_cities = final_df['city'].value_counts()[final_df['city'].value_counts() > 600].index.tolist()
final_df = final_df[final_df['city'].isin(eligible_cities)]